@font-face {
  font-family: 'Misaki';
  src: url('misaki_gothic.ttf') format('truetype');
}

@font-face{
  font-family: 'DQFont';
  src: url('DragonQuestFC.ttf') format('truetype');
}

@font-face{
  font-family: 'DQFontInt';
  src: url('DragonQuestFCIntact.ttf') format('truetype');
}

@font-face{
  font-family: 'PressStart';
  src: url('PressStart2P.ttf') format('truetype');
}

@font-face{
  font-family: 'Noir';
  src: url('Pixel-Noir.ttf') format('truetype');
}







/*以下画面大きい(641px以上)とき*/
@media screen and (min-width:641px){
  .Misaki {
    font-family: 'Misaki';
  }

  .DQ {
    font-family: 'DQFont';
    font-size: 200%;
  }

  .DQInt{
    font-family: 'DQFontInt'
  }

  .PressStart{
    font-family: 'PressStart'
  }

  .Noir{
    font-family: 'Noir'
  }

  .image{
    display: inline-block;
    vertical-align: top;
  }

  a:link{
    color: #6295b8;
  }

  /*メッセージ用の枠*/
  .DQmessage{
    /*borderプロパティは太さ、スタイル、色*/
    font-family: 'DQFont';
    font-size: 130%;
    width: 300px;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    border:3px solid white;
    border-radius: 3px;
    //margin: auto;
    display: inline-block;
    vertical-align: top;
  }

  .PSmessage{
    font-family: 'PressStart';
    font-size: 70%;
    width: 300px;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    border:3px solid white;
    border-radius: 3px;
    //margin: auto;
    display: inline-block;
    vertical-align: top;
  }

  .Misakimessage{
    font-family: 'Misaki';
    font-size: 70%;
    width: 300px;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    border:3px solid white;
    border-radius: 3px;
    //margin: auto;
    display: inline-block;
    vertical-align: top;
  }

  body {
    width:100%;
    margin:0;
    padding:0;
    color:#666;
    font-family:Arial, sans-serif;
    line-height: 18px;
    background: #rgb(221, 164, 96) url(../picture/menu_background.png) no-repeat right top;
}










/*以下画面小さいとき*/
@media screen and (max-width:640px){
  .Misaki {
    font-family: 'Misaki';
    font-size: 80%;
  }

  .DQ {
    font-family: 'DQFont';
    font-size: 100%;
  }

  .DQInt{
    font-family: 'DQFontInt';
    font-size: 70%;
  }

  .PressStart{
    font-family: 'PressStart';
    font-size: 50%;
  }

  .Noir{
    font-family: 'Noir'
  }
  /*
  .image{
    float: left;
  }
  */
  a:link{
    color: #6295b8;
  }

  /*メッセージ用の枠*/
  .DQmessage{
    /*borderプロパティは太さ、スタイル、色*/
    font-family: 'DQFont';
    font-size: 130%;
    width: 300px;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    border:3px solid white;
    border-radius: 3px;
    //margin: auto;
    display: inline-block;
    vertical-align: top;
  }

  .PSmessage{
    font-family: 'PressStart';
    font-size: 70%;
    width: 300px;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    border:3px solid white;
    border-radius: 3px;
    //margin: auto;
    display: inline-block;
    vertical-align: top;
  }

  .Misakimessage{
    font-family: 'Misaki';
    font-size: 70%;
    width: 300px;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    border:3px solid white;
    border-radius: 3px;
    //margin: auto;
    display: inline-block;
    vertical-align: top;
  }

  .pleft{
    float: left;
  }
  .pcenter{
    float: center;
  }
  .pright{
    float: right;
  }
  body {
    /*font-family: 'misaki_gothic'*/
    background-color: white;
    color: black;
  }
}
