/*以下画面大きい(641px以上)とき*/
body {
  background-color: #6c5a48
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@font-face {
  font-family: 'cinecap';
  src: url('cinecaption2.28.ttf') format('truetype');
}
.cinecap {
  font-family: 'cinecap';
  font-size: 200%;
  color: #a09e9b
}
a:link{
  color: #9e9276;
}
a:visited{
  color: #9e9276;
}
.Parent{
  width: 600px;
}
.Fox_picture{
  margin-right: auto;
  animation: fadeIn 2s ease 0s 1 normal;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
  height:630px;
  background-image: url(../images/menu_foreground.png);
  background-repeat: no-repeat;
  width: 270px;
  float: left;
}
.Explanation{
  font-family: 'cinecap';
  font-size: 100%;
  color: #a09e9b;
  width: 300px;
  float: right;
}
